<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.harshsharma.musify">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MusifyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".activities.DashBoardActivity"
            android:icon="@mipmap/ic_launcher"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MusifyStreamingService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />

        <receiver
            android:name=".receivers.MusifyStreamingReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.harshsharma.musify.audiostreamer.close" />
                <action android:name="com.harshsharma.musify.audiostreamer.pause" />
                <action android:name="com.harshsharma.musify.audiostreamer.next" />
                <action android:name="com.harshsharma.musify.audiostreamer.play" />
                <action android:name="com.harshsharma.musify.audiostreamer.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>